body {
  margin: 0%;
  padding: 0%;
  background-color: white;
}

.container {
  height: 75vh;
  width: 100%;    
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h2{
  position: relative;
  bottom: 13vh;
}

.cardCadastro {
  display: flex;
  background-color: whitesmoke;
  width: 31vw;
  height: auto;
  flex-direction: column;
  align-self: center;
  padding: 3rem 0rem 3rem 0rem;
  border-radius: 1.5rem;
  box-shadow: 0.1rem 0px 1rem 0.1rem rgba(0, 0, 0, 0.514); 
  border: #8473db90 0.1rem solid;   
  position: relative;
  top: 45vh;

  z-index: 2;  
  text-align: center;
  transition: 0.20s ease-in-out;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: relative;
  right: 2.5rem; */
}

.inputBox {
  position: relative;
  width: 20rem;
  text-align: start;
  right: 0.5rem;
}

.inputBox input {
  width: 100%;
  padding: 0.7rem;
  background: whitesmoke;
  outline: none;
  border: 1px solid black;
  font-size: 1em;
  border-radius: 0.6rem;
}

.inputBox span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 0.9rem;
  color: black;
  text-transform: uppercase;
  transition: 0.5s;
  position: relative;
  bottom: 2rem;
  z-index: 1;
  text-align: left;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
  color: white;
  background-color: #8573DB;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.85em;
  padding: 0 10px;
  position: relative;
  bottom: 3.3rem;
  left: 1rem;
  border-radius: 0.3rem;
}

.buttonlogin {
  background-color: #8573DB;
  color: white;
  font-weight: bold;
  height: 3rem;
  border-radius: 10px;
  border-style: none;
  position: relative;
  top: 0.5rem;
  margin: 1rem;
}


.cardCadastro a{
color: #8573DB;
}

.buttonlogin:hover{
  background-color: #062180;
  transform: scale(1.05);
  transition: 0.20s ease-in-out;
}

.titulo{
  font-size: 1.5rem;    
}

.subtitulo {
  font-size: 1rem;  
  margin-bottom: 3rem;
  color: #333333;
}

/* .cardCadastro:hover{    
  transform: scale(1.05);
} */

.ondasFundo img{
  background-size: cover;
  width: 99vw;
  height: 30rem;
  /* top: 5rem;  */
  position: relative;
}

.tituloCadastro {  
  background-size: cover;
  background-position: 100%;
  width: 30vw;
  height: 23rem;
  position: relative;
  top: 24rem;
  left: 31rem;
}    

/* Inicio mensagens */
.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

.alerta_erro {
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: whitesmoke;
  color: black;
  width: 17rem;
  position: fixed;
  border-radius: 1rem;
  border: #8573DB 3px solid;
  padding: 1rem;
  margin-right: 10rem;
  margin-top: 7rem;
  z-index: 999;
}

.card_erro #mensagem_erro {
  font-weight: 500;
  font-size: 20px;
}

.simulador {
  color: white;
}

.simulador .container {
  flex-direction: column;
  overflow: scroll;
  height: var(--tamanho-simulador);
}

.rodape{
  width: 100%;
  height: 100%;
  background-color: #000F53;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  color: white;
  align-items: center;
  margin-top: 45vh;
}
.rodape h3{
  color: #ffffffaf;
}
.rodape_contato{
  width: 50vh;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  color: white;
  font-size: 2vh;
  margin-top: 3vh;
}

.rodape_contato h1{
  font-size: 5vh;
}
.rodape_contato h3{
  margin-top: 6vh;
}

.rodape_contato h4{
  margin-bottom: 2vh;
 
}
.labelSenha{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  color: rgba(51, 51, 51, 0.6);
  font-size: 10.4px;
  position: relative;
  margin-bottom: 20px;
  margin-top: -15px;
}

.rodape_links{
  margin-top: 3vh;
  width: 50vh;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-size: 2vh;
  color: white;
  margin-top: 3vh;
  position: relative;
  left: 10vh;
  }

  .rodape_links h2 {
    position: relative;
    top: 1vh;
  }

.rodape_links h3{
  margin-top: 3vh;

}

.rodape_links a {
  text-decoration: none;
  color: #ffffffaf;
}

  .rodape_redes{
      margin-top: 3vh;
      width: 50vh;
      height: 50vh;
      margin-top: 3vh;
      color: white;
      font-size: 2vh;
      position: relative;
    
  }
  .rodape_redes h2 {
    position: relative;
    top: 1vh;
  }

  .rodape_redes h3{
      font-size: 2vh;
      margin-top: 3vh;
  }
 
  .rodape_direitos{
      background-color: #000F53;
      align-items: center;
      display: flex;
      justify-content: center;
      color: white;
      font-size: 2vh;
  }

.linha {
  height: 1px;
  width: 100%;
  background-color: black;
  margin-top: 4vh;
}

.logotext {
  margin-top: 1vh;
  text-align: center;
  font-size: 12px;
  width: 100%;
  color: black;
}

/*Responsividade */

@media screen and (max-width: 800px){


.header {
  width: 85%;
  background: transparent;
  padding-inline: 16px;
}

.logo {
  width: 50vw;
  height: fit-content;

}


  /* Início Cadastro */

  .tituloCadastro img {
    width: 75vw;
    height: fit-content;
    position: relative;
    bottom: 15rem;
    right: 4rem;
}

.cardCadastro {
  display: flex;
  background-color: whitesmoke;
  width: 60vw;
  height: fit-content;
  flex-direction: column;
  align-self: center;
  padding: 4rem 7rem 1rem 0rem;
  border-radius: 1.5rem;
  box-shadow: 0.1rem 0px 1rem 0.1rem rgba(0, 0, 0, 0.514);
  border: #8473db90 0.1rem solid;
  position: relative;

  z-index: 2;
  text-align: center;
  transition: 0.;
  margin-bottom: 65vh;
}
.inputBox {
  position: relative;
  text-align: start;
  align-self: center;
  left: 2.8rem;
}

.inputBox input {
  width: 100%;
  padding: 0.7rem;
  background: whitesmoke;
  outline: none;
  border: 1px solid black;
  font-size: 1em;
  border-radius: 0.6rem;
  /* position: relative;
  right: 1.5rem; */
}



.inputBox span { 
  padding: 10px;
  pointer-events: none;
  font-size: 0.9rem;
  color: black;
  text-transform: uppercase;
  transition: 0.5s; 
  z-index: 1;
}
  
  .buttonlogin {
    background-color: #8573DB;
    color: white;
    font-weight: bold;
    height: 3rem;
    border-radius: 10px;
    border-style: none;
    position: relative;      
    left: 3.5rem;
  }

  
  .titulo{
    font-size: 1.5rem;
    position: relative;
    left: 3.5rem;    
  }
  
  .subtitulo {
    font-size: 1rem;  
    margin-bottom: 3rem;
    color: #333333;
    position: relative;
    left: 3.5rem; 
  }  

  
   .ondasFundo img {
    background-size: cover;
    width: 99vw;
    height: 15rem;
    position: relative;
    top: 17rem;
    display: none;
}   

h2{
display: none;
}
.logotext {
  position: relative;
  top: 1rem;
}

.rodape{
  width: 100%;
  height: 60vh;
  background-color: #000F53;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  color: white;
  align-items: center;
  position: relative;
  margin-top: 20vh;
}

.rodape_contato{
  width: 50vh;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  color: white;
  font-size: 1vh;
  position: relative;
  bottom: 4vh;
  left: 3vh;
}

.rodape_contato h1{
  font-size: 3vh;
  
}
.rodape_contato h3{
margin-top: 2vh;
  font-size: 2vh;
  color:  #ffffffaf;
}

.rodape_contato h4{
 
  font-size: 2vh;
}

.rodape_links{

  width: 50vh;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-size: 2vh;
  position: relative;
 left: 10vh;
 bottom: 3vh;
 
  }

.rodape_links h3{
  margin-top: 3vh;

}

.rodape_links a {
  text-decoration: none;
  color:  #ffffffaf;
}

  .rodape_redes{
      margin-top: 3vh;
      width: 50vh;
      height: 50vh;
      margin-top: 3vh;
      font-size: 2vh;
      
  }

  .rodape_redes h1{
    position: relative;

  }

  .rodape_redes h3{
      font-size: 2vh;
      margin-top: 3vh;
      position: relative;
      right: 32vh;
      color:  #ffffffaf;
      top: 32vh;
  }
 
  .rodape_direitos{
      background-color: #000F53;
      align-items: center;
      display: flex;
      justify-content: center;
      color: white;
      font-size: 2vh;
      position: relative;

   } 
/* Fim Cadastro */



.labelSenha{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  color: rgba(51, 51, 51, 0.6);
  font-size: 10.4px;
  position: relative;
  margin-bottom: 20px;
  margin-top: -15px;
}

}