.content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.tituloFaleConosco {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 1vh;
color: #6953D3;
   
}

.subtituloFaleConosco {
    font-size: 30px;
    text-align: center;
    margin-top: 3vh;
}

.entrada {
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.linhaemail {
    width: 30vw;
    height: 18vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.placeholder {
    width: 65vh;
    position: relative;
    right: 1.6rem;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.linhanome {
    width: 30vw;
    height: 18vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
 margin-top: 15vh;
margin-bottom: 5vh;
}

.dados {
    width: 35vw;
    height: 2.3rem;
    background-color: #CDC6ED;
    border-radius: 30px;
    border: 2px solid #CDC6ED;

}

.linha3 {
    width: 100%;
    height: 30vh;
    display: flex;    
    margin-top: 3vh;
    align-items: center;
    flex-direction: column;
}

.linha3 input{
    width: 45vw;
    height: 25vh;
    display: flex;    
    margin-top: 3vh;
    align-items: center;
    flex-direction: column;
}

.linha3 .placeholder {
    width: 35vw;
}

.linha5 {
    display: flex;
    width: 40%;
    height: 5vh;
    align-items: center;
    justify-content: center;
}

.botao {
    width: 100%;
    height: 2.5rem;
    background-color:#6953D3;
    border:#6953D3;
    border-radius: 40px;
    color: white;
    font-size: 17px;
    position: relative;
    top: 1rem;
    margin-bottom: 2vh;
}

.botao:hover {
    background-color: #062180;
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
    border: none;
}

.entrada input:hover {
    background-color: rgba(152, 122, 235, 0.945);
    border: #CDC6ED 5px solid;
    transition: 0.5s;
    color: white;
}

.mensagem {
    width: 100%;
    height: 20vh;
    background-color: #CDC6ED;
    border-radius: 70px;
    border: 2px solid #CDC6ED;
    position: relative;
    bottom: 1rem;
}
/* 
.waves {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60vh;
    justify-content: space-evenly;
    align-items: center;
    background: url(../assets/ondas.png);
    background-size: cover;
} */

.contato {
    width: 100%;
 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 5rem;    
}

.fundo2 {
    width: 60%;
    height: 26vh;
    background-color: #CDC6ED;
    border-radius: 100px;
    border-color: rgba(152, 122, 235, 0.945);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40vh;
    position: relative;
    bottom: 20vh;

}

.separa {
    display: flex;
    justify-content: space-between;
    width: 82.5%;
    height: 20vh;
    margin-top: 3vh;
}

.icons {
    display: flex;
    justify-content: space-between;
    width: 40%;
    height: 20vh;
}

.b1 {
    width: 10vh;
    height: 10vh;
    background-color: #EDEAF9;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 1px 5px rgb(93, 93, 93);
}

.b2 {
    width: 10vh;
    height: 10vh;
    background-color: #EDEAF9;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 1px 5px rgb(93, 93, 93);
}

.b3 {
    width: 10vh;
    height: 10vh;
    background-color: #EDEAF9;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 1px 5px rgb(93, 93, 93);

}

.infoTelefone {
    display: flex;
    flex-direction: column;
    height: 20vh;
    align-items: center;
}

.infoEmail {
    display: flex;
    flex-direction: column;
    height: 20vh;
    align-items: center;
}

.infoLocalicao {
    display: flex;
    flex-direction: column;
    height: 20vh;
    align-items: center;
}

.t {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    width: 15vh;
    margin-top: 1vh;
}

.d {
    margin-top: 1vh;
    text-align: center;
    font-size: 10px;
    width: 25vh;
}

.iconscontato {
    width: 5vh;
    height: 5vh;
}


.rodape{
    width: 100%;
    height: 100%;
    background-color: #000F53;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    color: white;
    align-items: center;
}
.rodape h3{
    color: #ffffffaf
}


.rodape_contato{
    width: 50vh;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: white;
    font-size: 2vh;
    margin-top: 3vh;
}

.rodape_contato h1{
    font-size: 5vh;
}
.rodape_contato h3{
    margin-top: 6vh;
  
}

.rodape_contato h4{
    margin-bottom: 2vh;
   
}

.rodape_links{
    margin-top: 3vh;
    width: 50vh;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: 2vh;
    margin-top: 3vh;
    position: relative;
    left: 10vh;
    }

.rodape_links h3{
    margin-top: 3vh;
  
}

.rodape_links a {
    text-decoration: none;
    color: #ffffffaf;
}

    .rodape_redes{
        margin-top: 3vh;
        width: 50vh;
        height: 50vh;
        margin-top: 3vh;
        font-size: 2vh;
     
    }

    .rodape_redes h3{
        font-size: 2vh;
        margin-top: 3vh;
    }
   
    .rodape_direitos{
        background-color: #000F53;
        align-items: center;
        display: flex;
        justify-content: center;
        color: #ffffffaf;
        font-size: 2vh;
    }

@media screen and (max-width: 800px){

         .header {
            width: 85%;
            background: transparent;
            padding-inline: 16px;
        }
    
        .logo {
            width: 50vw;
            height: fit-content;
            margin-left: 1rem;
            padding-block: 1rem;
        }

    
    .content {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .tituloFaleConosco {
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
        margin-top: 2vh;
        text-shadow: 3px 2px 3px rgb(155, 155, 155);
    }

    .subtituloFaleConosco {
        font-size: 1.1rem;
        font-weight: bold;
        text-align: center;
        margin-top: 3vh;
        padding-inline: 3rem;
    }

    .entrada {
        height: 50vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }


    .linhanome .placeholder {
        width: 3vw;
        position: relative;
        right: 9rem;
      bottom: 3vh;
    }

    .linhanome {
        width: 30vw;
        height: 8vh;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .linhanome input {
        width: 80vw;
        position: relative;
        border-radius: 1rem;
        bottom: 3vh;
    }


    .linhaemail .placeholder {
        width: 3vw;
        position: relative;
        right: 9rem;
        bottom: 3vh;
    }

    .linhaemail {
        width: 30vw;
        height: 8vh;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        bottom: 6vh;
    }

    .linhaemail input {
        width: 80vw;
        position: relative;
        bottom: 3vh;
        border-radius: 1rem;
    }

    .dados {
        width: 35vw;
        height: 2.3rem;
        background-color: #CDC6ED;
        border-radius: 30px;
        border: 2px solid #CDC6ED;
    }

    .linha3 {
        width: 100%;
        height: 25vh;
        display: flex;
        align-items: end;
        flex-direction: column;
        position: relative;
        bottom: 12vh;
    }

    .linha3 input {
        width: 80vw;
        height: 20vh;
        display: flex;
        margin-top: 3vh;
        align-items: center;
        flex-direction: column;
        bottom: 3vh;
    }

    .linha3 .placeholder {
        width: 80vw;
        position: relative;
        top: 1.5rem;
    }

    .mensagem {
        width: 80vw;
        height: 20vh;
        border-radius: 1rem;
        position: relative;
        top: 0.5rem;
        right: 2.3rem;
    }

    .linha5 {
        display: flex;
        width: 40%;
        height: 5vh;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 1vh;
    }

    .botao {
        width: 100%;
        height: 2.5rem;
        background-color: rgba(152, 122, 235, 0.945);
        border: rgba(152, 122, 235, 0.945) 2px solid;
        border-radius: 40px;
        color: white;
        font-size: 17px;
        position: relative;
        bottom: 6vh;
    }

    .waves {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 85vh;
        justify-content: space-evenly;
        align-items: center;
        background: url(../assets/ondas.png);
        background-size: cover;
    }

    .contato {
        width: 100%;
        height: 35vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        top: 3rem;
    }

    .fundo2 {
        display: flex;
        flex-direction: column;
        width: 80vw;
        height: 75vh;
        background-color: #CDC6ED;
        border-radius: 1rem;
        border-color: rgba(152, 122, 235, 0.945);
        align-items: center;
    }

    .separa {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 52vh;
        align-items: center;
        justify-content: space-between; 
     
    }
  
    .t {
        text-align: center;
        font-size: 17px;
        font-weight: bold;
        width: 15vh;
     
        
    }

    .d {
        margin-top: 0.5vh;
        text-align: center;
        font-size: 17px;
        width: 25vh;
   
    }


    .rodape{
        width: 100%;
        height: 60vh;
        background-color: #000F53;
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        color: white;
        align-items: center;
        position: relative;
        margin-top: 20vh;
      }
      
      .rodape_contato{
        width: 50vh;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: start;
        color: white;
        font-size: 1vh;
        position: relative;
        bottom: 4vh;
        left: 3vh;
      }
      
      .rodape_contato h1{
        font-size: 3vh;
        
      }
      .rodape_contato h3{
      margin-top: 2vh;
        font-size: 2vh;
        color:  #ffffffaf;
      }
      
      .rodape_contato h4{
       
        font-size: 2vh;
      }
      
      .rodape_links{
     
        width: 50vh;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: start;
        font-size: 2vh;
        position: relative;
       left: 10vh;
       bottom: 3vh;
       
        }
      
      .rodape_links h3{
        margin-top: 3vh;
      
      }
      
      .rodape_links a {
        text-decoration: none;
        color:  #ffffffaf;
      }
      
        .rodape_redes{
            margin-top: 3vh;
            width: 50vh;
            height: 50vh;
            margin-top: 3vh;
            font-size: 2vh;
            
        }
    
        .rodape_redes h2{
          position: relative;
          right: 32vh;
          top: 32vh;
    
        }
      
        .rodape_redes h3{
            font-size: 2vh;
            margin-top: 3vh;
            position: relative;
            right: 32vh;
            color:  #ffffffaf;
            top: 32vh;
        }
       
        .rodape_direitos{
            background-color: #000F53;
            align-items: center;
            display: flex;
            justify-content: center;
            color: white;
            font-size: 2vh;
            position: relative;
 
        }
    
         
      .ondasFundo img {
        background-size: cover;
        width: 100%;
        height: 15rem;
        position: relative;
        top: 14rem;
        display: none;
    }  


}
