.titulo{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 10vh;
    
    text-shadow: 3px 2px 3px rgb(155, 155, 155);
}
.subtitulo{
    font-size: 30px;
    text-align: center;
    margin-top: 3vh;
}
.entrada{
    height: 45vh;
}
.linha1{
    width: 40%;
    height: 3vh;
    display: flex;
    margin-left: 30%;
    margin-right: 30%;
    justify-content: space-between;
    margin-top: 3vh;
}
.placeholder{
    width: 33vh;
    margin-left: 2vh;

}
.linha2{
    width: 40%;
    height: 5vh;
    display: flex;
    margin-left: 30%;
    margin-right: 30%;
    justify-content: space-between;
}
.dados{
    width: 33vh;
    background-color: #CDC6ED;
    border-radius: 30px;
    border: 2px solid #CDC6ED;
}

.linha3{
    width: 40%;
    height: 3vh;
    display: flex;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2vh;
}

.linha4{
    width: 40%;
    height: 15vh;
    display: flex;
    margin-left: 30%;
    margin-right: 30%;
    justify-content: space-between;
}

.linha5{
    width: 40%;
    height: 5vh;
    display: flex;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 6vh;
}
.botao{
    width: 100%;
    height: 5vh;
    background-color: rgba(152, 122, 235, 0.945);
    border: rgba(152, 122, 235, 0.945) 2px solid;
    border-radius: 40px;
    color: white;
    font-size: 17px;
}

.botao:hover{
    background-color: #CDC6ED;
    border: rgba(152, 122, 235, 0.945) 2px solid;
    color:  rgba(91, 63, 167, 0.945);
    font-size: 13px;
    transition: 0.5s;
}
input:hover{
    background-color:rgba(152, 122, 235, 0.945) ;
    border: #CDC6ED 5px solid;
    transition: 0.5s;
    color: white;
}
.mensagem{
    width: 100%;
    height: 15vh;
    background-color: #CDC6ED;
    border-radius: 70px;
    border: 2px solid #CDC6ED;
}


.contato{
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.fundo2{
    width: 60%;
    height: 26vh;
    background-color: #CDC6ED;
    border-radius: 100px;
    border-color: rgba(152, 122, 235, 0.945); 
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.separa{
    display: flex;
    justify-content: space-between;
    width: 82.5%;
    height: 20vh; 
    margin-top: 3vh;
}

.icons {
    display: flex;
    justify-content: space-between;
    width: 40%;
    height: 20vh;
  }

.b1{
    width: 10vh;
    height: 10vh;
    background-color:  #EDEAF9;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 1px 5px rgb(93, 93, 93);
}

.b2{
    width: 10vh;
    height: 10vh;
    background-color:  #EDEAF9;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 1px 5px rgb(93, 93, 93);
}

.b3{
    width: 10vh;
    height: 10vh;
    background-color:  #EDEAF9;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 1px 5px rgb(93, 93, 93);
    
}

.info{
    display: flex;
    flex-direction: column;
    height: 20vh;
    align-items: center;
}

.t{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    width: 15vh;
    margin-top: 1vh;
}
.d{
    margin-top: 1vh;
    text-align: center;
    font-size: 10px;
    width: 25vh;
}

.iconscontato{
    width: 5vh;
    height: 5vh;
}
