.content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.tituloFaleConosco {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 10vh;

    text-shadow: 3px 2px 3px rgb(155, 155, 155);
}

.subtituloFaleConosco {
    font-size: 30px;
    text-align: center;
    margin-top: 3vh;
}

.entrada {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.linha1 {
    display: flex;
    width: 100%;
    height: 8vh;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5vh;
}

.placeholder {
    width: 33vh;
    position: relative;
    right: 1.6rem;
}

.linha2 {
    width: 30vw;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.dados {
    width: 20vw;
    height: 2.3rem;
    background-color: #CDC6ED;
    border-radius: 30px;
    border: 2px solid #CDC6ED;
}

.linha3 {
    width: 100%;
    height: 35vh;
    display: flex;    
    margin-top: 3vh;
    align-items: center;
    flex-direction: column;
}

.linha3 input{
    width: 45vw;
    height: 35vh;
    display: flex;    
    margin-top: 3vh;
    align-items: center;
    flex-direction: column;
}

.linha3 .placeholder {
    width: 35vw;
}

.linha5 {
    display: flex;
    width: 40%;
    height: 5vh;
    align-items: center;
    justify-content: center;
}

.botao {
    width: 100%;
    height: 2.5rem;
    background-color: rgba(152, 122, 235, 0.945);
    border: rgba(152, 122, 235, 0.945) 2px solid;
    border-radius: 40px;
    color: white;
    font-size: 17px;
}

.botao:hover {
    background-color: #062180;
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
    border: none;
}

.entrada input:hover {
    background-color: rgba(152, 122, 235, 0.945);
    border: #CDC6ED 5px solid;
    transition: 0.5s;
    color: white;
}

.mensagem {
    width: 100%;
    height: 20vh;
    background-color: #CDC6ED;
    border-radius: 70px;
    border: 2px solid #CDC6ED;
}

.waves {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    justify-content: space-evenly;
    align-items: center;
    background: url(../assets/ondas.png);
    background-size: cover;
}

.contato {
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 3rem;    
}

.fundo2 {
    width: 60%;
    height: 26vh;
    background-color: #CDC6ED;
    border-radius: 100px;
    border-color: rgba(152, 122, 235, 0.945);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.separa {
    display: flex;
    justify-content: space-between;
    width: 82.5%;
    height: 20vh;
    margin-top: 3vh;
}

.icons {
    display: flex;
    justify-content: space-between;
    width: 40%;
    height: 20vh;
}

.b1 {
    width: 10vh;
    height: 10vh;
    background-color: #EDEAF9;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 1px 5px rgb(93, 93, 93);
}

.b2 {
    width: 10vh;
    height: 10vh;
    background-color: #EDEAF9;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 1px 5px rgb(93, 93, 93);
}

.b3 {
    width: 10vh;
    height: 10vh;
    background-color: #EDEAF9;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 1px 5px rgb(93, 93, 93);

}

.infoTelefone {
    display: flex;
    flex-direction: column;
    height: 20vh;
    align-items: center;
}

.infoEmail {
    display: flex;
    flex-direction: column;
    height: 20vh;
    align-items: center;
}

.infoLocalicao {
    display: flex;
    flex-direction: column;
    height: 20vh;
    align-items: center;
}

.t {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    width: 15vh;
    margin-top: 1vh;
}

.d {
    margin-top: 1vh;
    text-align: center;
    font-size: 10px;
    width: 25vh;
}

.iconscontato {
    width: 5vh;
    height: 5vh;
}