* {
    font-family: Poppins, sans-serif;
  }
.fundo{
 width: 90%;
 display: flex;
 flex-direction: column;
 align-items: center;
}
.rodapeDash{
    width: 179.4vh;
    height: 30vh;
    background-color: #000F53;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    color: #ffffff;
    align-items: center;
  }
  .itens{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  .blocos span{
    color: #ffffff;
  }
  .tipos{
      display: flex;
      justify-content: space-around;
  }
  .tipo {
      font-size: 22px;
      color: #000F53;
  }
  .direitos{
    padding-bottom: 20px;
  }
.boxAdicionarServico {
    background-color: #f08080;
    height: 12vh;
    border-radius: 30px;
    width: 90%; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s;
  box-shadow: 5px 10px 20px 0px rgba(0, 0, 0, 0.25);

}
.boxAdicionarServico:hover{
    cursor: pointer;
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
}
.fundoContas{
    background-color: #ffffff;
    height: fit-content;
    width: 90%;
    border-radius: 20px;
    margin: 30px 0;
  box-shadow: 5px 10px 20px 0px rgba(0, 0, 0, 0.25);
   
}
.adicione{
    font-size: 20px;
    font-weight: 600;
    /* padding-top: 2.5vh; */
    color: #ffff;
}

.espaco {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.dadosUsuarios{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
    padding-left: 50px;
}

/* .edicaoGerenciamentoContas {
    width: 150px;
} */

.botaoEditarAcesso {
    background-color: rgb(62, 62, 168);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
}

.TittleContas{
    margin-left: 6vh;
    color: rgb(62, 62, 168);
    font-weight: 500;
    font-size: 20px;
}
.linhaSu{
    display: flex;
    justify-content: space-evenly;
    color: rgb(62, 62, 168);

}
.SubtittleContas{
    /* padding-right: -100vh;
    margin-left: -40vh; */
    font-weight: 500;
    font-size: 15px;
}

.emailControle{
    font-weight: 500;
    font-size: 15px;
    color: black;
}
.nivelAcesso{
    font-weight: 500;
    font-size: 15px;
    color: black;
}

.imgEdicaoGerenciar {
    width: 25px;

}

.linhaEspacamento{
        border-bottom: solid 1px #000f532e;
        width: 90%;
        margin-top: 3vh;
        margin-left: 5vh;
      }

.addIMG{
display: center;
width: 45px;
}
.ativoDesativo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 30vh;
    /* margin-left: 30vh;
    margin-bottom: 2vh; */
}
.bolaVerde{
    background-color: #2DF5B9;
    width: 12vh;
    height: 12vh;
    border-radius: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.legComponentes{
    margin-left: 3.3vh;
    color: #000F53;
    font-size: 20px;
}

.imgsContas{
    display: flex;
    justify-content: space-between;
    width: 180px;
    padding: 0 30px ;
}
.deletar{
    margin-left: 10vh;
}

.headerGerenciar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.tituloGerenciar {
    margin-left: 80px;
    color: #000F53;
    font-family: Poppins, sans-serif;
  
}

.divPlanoUsuario {
    background-color: #000F53;
    border-radius: 20px;
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);

}

.dashGerenciar {
    width: 85%;
    background-color: #FAFBFF;
    height: 100vh;
    overflow: auto;
    padding-left: 230px;
}

.inputContas {
    width: 50px;
}
