@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=VT323&display=swap');



/* .responsividade {  
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr;  
    grid-template-rows: 50px 50px;  
} */

.teste {
    width: 100%;
    height: 10vh;
    background: url(./assets/Group\ 2.jpg);
    background-size: cover;

}

.fundo {
    width: 100%;
    height: 100vh;
    background-color: #fff;

}

.banner {
    display: flex;
    height: 80vh;
    width: 100%;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    width: 50%;
    height: 80vh;
    padding: 1% 8%;
}   

aside h1 {
    font-size: 7vh;
    font-weight: bold;
    color: #333333;
}

aside h4 {
    font-size: x-large;
    font-weight: bold;
    color: #333333af;
}

article {
    display: flex;
    align-items: center;
    width: 50%;
    height: 80vh;
}

.btn-func {
    display: flex;
    width: 75%;
    align-items: center;
    justify-content: space-evenly;
}

.banner-button {
    background-color: #EDEAF9;
    border-radius: 5px;
    color: #6953D3;
    cursor: pointer;
    font-size: medium;
    font-weight: 500;
    line-height: 24px;
    padding: 8px 10px;
    width: fit-content;
    border: none;
}

.btn-player {
    width: 25vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: none;
    border: none;
    cursor: pointer;
    font-size: medium;
    color: #333333;
}

aside .nav-button {
    background-color: #6953D3;
    color: #fff;
    cursor: pointer;
    font-size: large;
    font-weight: 700;
    line-height: 30px;
    padding: 1rem;
    width: 13rem;
    border: none;
}

.center-vertical {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.linha-divisoria {
    position: absolute;
    width: 90%;
    height: 1px;
    background-color: #444444;
    top: 140%;
    transform: translateY(-50%);
    z-index: 1;
}

.Nossos-Diferenciais {
    text-align: center;
    padding-top: 20px;
    position: relative;
}



.Nossos-Diferenciais h1 {
    margin-top: 20%;
    margin-bottom: 10%;
    font-family: 'Inter' sans-serif;
    font-size: 5vh;
    font-weight: bold;
    color: #333333;
}

.conteudo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}



.seguranca,
.foco,
.cliente,
.tempo,
.projeto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-left: 10%;
}

.seguranca img,
.foco img,
.tempo img,
.cliente img,
.projeto img {
    height: 20vh;
    width: 20vh;
    margin-bottom: 17px;
}

.seguranca p,
.foco p,
.tempo p,
.cliente p,
.projeto p {
    font-size: 18px;
    font-family: 'Inter';
    color: #444444;
    font-weight: bold;
}

.sobre-nos {
    display: flex;
    background-color: #fff;
}

.imagem-sobre-nos {
    background: url(../assets/imgAleatoria.png);
    background-size: cover;
    width: 50%;
    height: 700px;
}

.texto-sobre-nos {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 700px;
    align-items: center;
    justify-content: space-evenly;
}

.texto-sobre-nos span {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #333333;
}

.texto-sobre-nos p {
    font-size: 20px;
    color: #4444449a;
    text-align: justify;
    width: 60%;
}

.sobre-nos-button {
    background-color: #EDEAF9;
    border-radius: 5px;
    color: #6953D3;
    cursor: pointer;
    font-weight: 500;
    line-height: 24px;
    font-size: 20px;
    padding: 8px 10px;
    width: fit-content;
    border: none;
}


.item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
}

.item img {
    width: 7vh;
    height: 7vh;
}

.item p {
    font-size: 18px;
    font-family: 'Inter';
    color: #444444;
    font-weight: bold;
}

.como-fazemos {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #fff;
}

.article1 h2 {
    font-size: 2.5rem;
    font-weight: bold;
    width: 80%;
}

.article1 p {
    font-size: 1.5rem;
    color: #444444;
    text-align: justify;
    width: 80%;
}

.como-vera {
    background-color: rgba(168, 128, 255, 0.5);
    width: 80%;
    border-radius: 2.5rem;
    overflow: hidden;
    padding: 1rem;
}


.como-vera h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #6953D3;
}

.como-vera p {
    font-size: 1.5rem;
    color: white;
    font-family: 'Inter';
    line-height: 2.0;
    text-align: justify;
    width: 100%;
}

.article1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 50%;
    height: 100vh;
}

.aside1 {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100vh;
    padding: 0;
}

.nossos-servicos {
    display: flex;
    background-color: #fff;
}

.imagem-nossos-servicos {
    display: flex;
    width: 50%;
    height: 100vh;
    align-items: center;
}

.texto-nossos-servicos {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    align-items: start;
    justify-content: space-evenly;
}

.texto-nossos-servicos h2 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
}

.texto-nossos-servicos p {
    font-size: 1.5rem;
    color: #444444;
    margin-top: 0;
}

.texto-nossos-servicos ul li {
    font-size: 1.5rem;
    color: #444444;
    text-align: justify;
    width: 100%;
}

.nossos-servicos-button {
    background-color: #6953D3;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    font-size: medium;
    font-weight: 500;
    font-size: 20px;
    padding: 1rem;
    border: none;
    height: 7vh;
    width: 13vw;
}