body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-decoration: none;
}

.container {
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.LoginTittle{
  font-size: 3rem;
  position: relative;
  left: 11vh;
  top: 25vh;
  margin-top: 60vh;
  margin-bottom: 30px;
}

.card {
  display: flex;
  background-color: whitesmoke;
  width: 27vw;
  flex-direction: column;
  align-self: center;
  padding: 5rem 1rem 5rem 1rem;
  border-radius: 1.5rem;
  box-shadow: 0.1rem 0px 1rem 0.1rem rgba(0, 0, 0, 0.514);
  border: #8473db90 0.1rem solid;
  position: relative;
  top:35rem;
  /* right: 16rem; */
  z-index: 2;
  text-align: center;
  align-items: center;

}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  right: 0.5rem;
}

.inputBox {
  position: relative;
  width: 20rem;
  text-align: start;
  align-self: center;
}

.inputBox input {
  width: 100%;
  padding: 0.7rem;
  background: whitesmoke;
  outline: none;
  border: 1px solid black;
  font-size: 1em;
  border-radius: 0.6rem;
}

.inputBox span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 0.9rem;
  color: black;
  text-transform: uppercase;
  transition: 0.5s;
  position: relative;
  bottom: 2rem;
  z-index: 1;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
  color: white;
  background-color: #8573DB;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.85em;
  padding: 0 10px;
  position: relative;
  bottom: 3.3rem;
  left: 1rem;
  border-radius: 0.3rem;
}

.buttonlogin {
  background-color: #8573DB;
  color: white;
  font-weight: bold;
  height: 2.2rem;
  width: 21rem;
  border-radius: 10px;
  border-style: none;
  position: relative;
  left: 0.3rem;
  top: 0.5rem;
}

.card h5 {
  position: relative;  
  top: 2rem;
  right: 1rem;
}

.card a {
  color: #8573DB;
}

.buttonlogin:hover {
  background-color: #062180;
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}

.titulo {  
  margin-bottom: 3rem;
  font-size: 1.5rem;
}

/* .card:hover {
  transform: scale(1.05);
  transition: 0.20s ease-in-out;
} */

.ondasFundo img {
  background-size: cover;
  width: 99vw;
  height: 25rem;
  position: relative;
  top: 17rem;
}

.fundoTittle {
  background-size: cover;
  background-position: 100%;
  width: 25vw;
  height: fit-content;
  position: relative;
  top: 23rem;
  left: 37.5rem;
  
}

/* Inicio mensagens */
.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

.alerta_erro {
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: whitesmoke;
  color: black;
  width: 17rem;
  position: fixed;
  border-radius: 1rem;
  border: #8573DB 3px solid;
  padding: 1rem;
  margin-right: 10rem;
  margin-top: 7rem;
  z-index: 999;
}

.card_erro #mensagem_erro {
  font-weight: 500;
  font-size: 20px;
}

.simulador {
  color: white;
}

.simulador .container {
  flex-direction: column;
  overflow: scroll;
  height: var(--tamanho-simulador);
}

.container_footer {
  height: 33vh;
  position: relative;        
}

.logo_footer_cadastro {
  position: relative;
  top: 1rem;
}

.logotext {
  position: relative;
  top: 1rem;
}

.rodape{
  width: 100%;
  height: 140%;
  background-color: #000F53;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  color: white;
  align-items: center;
  margin-top: 15vh;
  position: relative;
  top: 20vh;

}.rodape h3{
  color: #ffffffaf
}
.rodape_contato{
  width: 50vh;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  color: white;
  font-size: 2vh;
  margin-top: 3vh;
}

.rodape_contato h1{
  font-size: 5vh;
}
.rodape_contato h3{
  margin-top: 6vh;

}

.rodape_contato h4{
  margin-bottom: 2vh;
 
}

.rodape_links{
  margin-top: 3vh;
  width: 50vh;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-size: 2vh;
  margin-top: 3vh;
  position: relative;
  left: 10vh;
  }

.rodape_links h3{
  margin-top: 3vh;

}

.rodape_links a {
  text-decoration: none;
  color: #ffffffaf;
}

  .rodape_redes{
      margin-top: 3vh;
      width: 50vh;
      height: 50vh;
      margin-top: 3vh;
      font-size: 2vh;
      position: relative;
      left: 10vh;
  }

  .rodape_redes h3{
      font-size: 2vh;
      margin-top: 3vh;
  }
 
  .rodape_direitos{
      background-color: #000F53;
      align-items: center;
      display: flex;
      justify-content: center;
      color: white;
      font-size: 2vh;
      position: relative;
    bottom: 1vh;
    margin-top: 20vh;
  }

@media screen and  (max-width: 800px) {  


  .header {
    width: 85%;
    background: transparent;
    padding-inline: 16px;
}

.logo {
    width: 20vh;
    height: fit-content;
    margin-left: 1rem;
  
}
  .LoginTittle{
    display: none;
     }

   .container {
       height: 40vh;
       width: 100%;
       display: flex;
       justify-content: center;
       flex-direction: column;
   }

   .titulo {
       margin-bottom: 3rem;
       font-size: 1.5rem;
   }

   .card {
       display: flex;
       background-color: whitesmoke;
       width: 55vw;
       flex-direction: column;
       align-self: center;
       padding: 5rem 5rem 5rem 2rem;
       border-radius: 1.5rem;
       box-shadow: 0.1rem 0px 1rem 0.1rem rgba(0, 0, 0, 0.514);
       border: #8473db90 0.1rem solid;
       margin-top: 10vh;
       z-index: 2;
       text-align: center;
   }

   .inputBox {
       position: relative;
       width: 15rem;
       text-align: start;
       align-self: center;
       left: 1.3rem;
   }

   .inputBox input {
       width: 100%;
       padding: 0.7rem;
       background: whitesmoke;
       outline: none;
       border: 1px solid black;
       font-size: 1em;
       border-radius: 0.6rem;
   }

   .inputBox span {
       position: absolute;
       left: 0;
       padding: 10px;
       pointer-events: none;
       font-size: 0.9rem;
       color: black;
       text-transform: uppercase;
       transition: 0.5s;
       position: relative;
       bottom: 2rem;
       z-index: 1;
   }

   .inputBox input:valid~span,
   .inputBox input:focus~span {
       color: white;
       background-color: #8573DB;
       transform: translateX(10px) translateY(-7px);
       font-size: 0.85em;
       padding: 0 10px;
       position: relative;
       bottom: 3.3rem;
       left: 1rem;
       border-radius: 0.3rem;
   }

   .buttonlogin {
       background-color: #8573DB;
       color: white;
       font-weight: bold;
       height: 2.2rem;
       width: 15rem;
       border-radius: 10px;
       border-style: none;
       position: relative;
       left: 1.5rem;
       top: 0.5rem;
   }

   .card h1 {
       position: relative;
       left: 1.8rem;
   }

   .card h5 {
       position: relative;
       top: 2rem;
       left: 1.5rem;
   }

   .card a {
       color: #8573DB;
   }

  

   .rodape{
    width: 100%;
    height: 100vh;
    background-color: #000F53;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    color: white;
    align-items: center;
    position: relative;
    margin-top: 60vh;
  }
  
  .rodape_contato{
    width: 50vh;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: white;
    font-size: 2vh;
    margin-top: 3vh;
    position: relative;
    bottom: 3vh;
    left: 5vh;
  }
  
  .rodape_contato h1{
    font-size: 3vh;
    
  }
  .rodape_contato h3{
    margin-top: 1vh;
    font-size: 2vh;
  }
  
  .rodape_contato h4{
    margin-bottom: 1vh;
    font-size: 2vh;
  }
  
  .rodape_links{
 
    width: 50vh;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: 2vh;
    position: relative;
    left: 10vh;
    }
  
  .rodape_links h3{
    margin-top: 3vh;
  
  }
  
  .rodape_links a {
    text-decoration: none;
    color: white;
  }
  
    .rodape_redes{
        margin-top: 3vh;
        width: 50vh;
        height: 50vh;
        margin-top: 3vh;
        font-size: 2vh;
        position: relative;
        top: 30vh;
        
        
    }

    .rodape_redes h2{
      position: relative;
      right: 35vh;

    }
  
    .rodape_redes h3{
        font-size: 2vh;
        margin-top: 3vh;
        position: relative;
        right: 35vh;
    }
   
    .rodape_direitos{
        background-color: #000F53;
        align-items: center;
        display: flex;
        justify-content: center;
        color: white;
        font-size: 2vh;
        position: relative;
      bottom: 1vh;
      margin-top: 20vh;
    }

     
  .ondasFundo img {
    background-size: cover;
    width: 100%;
    height: 15rem;
    position: relative;
    top: 14rem;
    display: none;
}  
  
}