@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=VT323&display=swap');

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}


.fundoRoxo {
    width: 100%;
    height: 10vh;
    background: url(../assets/header.jpg);
    background-size: cover;
}

.fundo {
    width: 100%;
    height: 100vh;
    background-color: #fff;
}

/* NAVBAR */

.nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 20vh;
    border-bottom: #444444 0.1rem solid;      
}

.navBar {
    display: flex;
    width: 110vh;
    height: auto;
    align-items: center;
    justify-content: space-evenly;

}

.logo {
    width: 20vw;
    height: 40vh;
    position: relative;
    bottom: 0.2rem;
    left: 2rem;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #444444;
}

.user {
    display: flex;
    width: 13vw;
    height: 10vh;
    align-items: center;
    justify-content: space-evenly;    
    position: relative;
    left: 1rem;
}

.navBar a:hover{
    color: #6953D3;
    transition: 0.5s;
}

.nav-button {
    background: none;
    border-radius: 9vh;
    color: #444444;
    cursor: pointer;
    font-weight: 600;
    line-height: 3vh;
    padding: 0.6rem;
    width: 10rem;
    border: 2px solid #444444;
} 

.footer {
    height: 30vh;
    width: 100%;
    /* background-color: rgba(105, 83, 211, 0.53); */
    color: #fff;
    background-color: rgba(105, 83, 211, 0.53);
  }

.container_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: center;
    width: 100%;
    padding-top: 3vh;
}
  

.version {
    font-size: 12px;
    font-weight: 800;
}
 
.logo_footer_cadastro{
    width: 55vh;
    height: 15vh;
}
