/* pagina mural */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=VT323&display=swap');

* {
  font-family: Poppins, sans-serif;
}
.dashPerfil {
  /* width: 84%; */
  background-color: #FAFBFF;
  height: 100vh;
  overflow: auto;
  padding-left: 200px;
}

.tituloPerfil {
  margin-left: 80px;
  color: #000F53;
  font-family: Poppins, sans-serif;

}

.blocoInformacoes {
  margin-left: 120px;
  width: 80%;
  height: fit-content;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 50px;
 padding-bottom: 50px;
 box-shadow: 5px 10px 20px 0px rgba(0, 0, 0, 0.25);

}

.blocoHeaderPerfil {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px 0 30px;
}

.imgEditarPerfil {
  border: none;
  background-color: white;
}

.subtituloPerfil {
  color: #000F53;
  font-size: 20px;
  font-weight: 600;
}

.camposPerfil {
  padding: 20px 40px;
  color: #000F53;
font-size: 18px;

}

.inputPerfil {
  margin: 10px 30px;
  background-color: rgba(0, 15, 83, 0.12);
  border-radius: 10px;
  border: none;
  width: 90%;
  text-align: start;
}

.bloco2 {
  border: 2px solid #000F53;
  width: 80%;
  border-radius: 20px;
  height: 120px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000F53;
}

.bloco3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 30px;
  color: #000F53;
 
}
.bloco3 span {
  color: #000F53;
}

#empresaNome, #nivelAcesso {
  font-weight: 600;
  font-size: 20px;
  margin-top: 15px;
  color: #000F53;
}
.rodapeDash{
  /* width: 89.8%; */
  height: 30vh ;
  background-color: #000F53;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
  color: #ffffff;
  align-items: center;
}
.itens{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.blocos span{
  color: #ffffff;
}
.tipos{
    display: flex;
    justify-content: space-around;
}
.tipo {
    font-size: 22px;
    color: #000F53;
}
.direitos{
  padding-bottom: 20px;
}