/* pagina mural */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=VT323&display=swap');
* {
  font-family: Poppins, sans-serif;
}
.label-captura {
  display: flex;
  justify-content: center;
}

.dash {
  width: 84.85%;
  background-color: #FAFBFF;
  height: fit-content;
  overflow: auto;
  padding-left: 230px;
}


.Nome h2 {
  margin-left: 80px;
  color: #000F53;
  font-family: Poppins, sans-serif;
}




.containerArmazen {
  width: 45%;
  height: 40vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.armazenamento {
  width: 68%;
  height: 20vh;
  background-color: #6953D3;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 5px 10px 20px 0px rgba(0, 0, 0, 0.25);
  margin-top: 5vh;
}

.txtArmazenamento {
  align-self: flex-start;
  margin: 0 20px;
 
}

.containerPercent{
    width: 50%;
    height: 39vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.percent {
  align-self: flex-start;
  margin: 10px 20px;
  color: #5c6bc0;
  font-weight: 500;
  font-size: 3vh;
  margin-left: 55vh;
  
}


.ServidorEmergencia {
  width: 100%;
  height: 19vh;
  background-color: #5E1A8D;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 5px 10px 20px 0px rgba(0, 0, 0, 0.25);
}

.tituloServidorEmergencia {
  align-self: flex-start;
  margin: 0 20px;
}

#nomeServidorEmergencia {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 20px;
}

#ServidoresEmEmergencia {
  font-size: 12px;

}

.VisaoGeralServidores {
  width: 50%;
  height: 40vh;
  margin: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;

  box-shadow: 5px 10px 20px 0px rgba(0, 0, 0, 0.25);
}

.tituloVisaoGeral {
  align-self: flex-start;
  margin: 20px 20px 0px 20px; 
  color: black;
  font-weight: 600;
}

.AlertaUltimoMostrar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.botoesServidoresDash {
  width: 200px;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  height: 70px;
  margin: 20px;
  box-shadow: 1px 7px 20px 0px rgba(0, 0, 0, 0.10);
  cursor: pointer;
display: flex;
align-items: center;
justify-content: space-evenly;
}

.botoesServidoresDash span {
  color: #000F53;
  font-size: 15px;
}



.bola {
  width: 20px;
  height: 20px;
  background-color: #36D000;
  border-radius: 20px;
}