/* Início NavBar */
@media only screen and (max-width: 1420px) {
    .header {
        padding: 0 50px;
        width: 92.3%;
    }
}

@media only screen and (max-width: 1200px) {
    .header {
        padding: 0 30px;
        width: 95%;
    }
}

@media only screen and (max-width: 600px) {
    
    .header {
        width: 85%;
        background: transparent;
        padding-inline: 16px;
    }

    .logo {
        width: 50vw;
        height: fit-content;
        margin-left: 1rem;  
        padding-block: 1rem;      
    }

    .fundoRoxo {
        width: 100%;
        height: 10vh;
        background: url(../assets/header.jpg);
        background-size: cover;
    }

    /* Fim NavBar */

    /* Início Login */
    .container {
        height: 40vh;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .titulo {
        margin-bottom: 3rem;
        font-size: 1.5rem;
    }

    .ondasFundo img {
        background-size: cover;
        width: 100%;
        height: 10rem;
    }

    .fundoBolinha h1 {
        width: 10rem;
        position: relative;
        top: 5rem;
        left: 4rem;
        font-size: 1.5rem;
    }

    .fundoBolinha{
        background-size: cover;
        background-position: 100%;
        width: 30vw;
        height: fit-content;
    }

    .fundoBolinha img{
        background-size: cover;
        background-position: 100%;
        width: 50vw;
        height: fit-content;
        position: relative;
        top: 11rem;
        left: 1rem;
        align-items: center;
    }

    .card {
        display: flex;
        background-color: whitesmoke;
        width: 55vw;
        flex-direction: column;
        align-self: center;
        padding: 5rem 4rem 5rem 2rem;
        border-radius: 1.5rem;
        box-shadow: 0.1rem 0px 1rem 0.1rem rgba(0, 0, 0, 0.514);
        border: #8473db90 0.1rem solid;
        position: relative;
        top: 10rem;
        left: 0rem;
        z-index: 2;
        text-align: center;
    }

    .inputBox {
        position: relative;
        width: 15rem;
        text-align: start;
        align-self: center;
    }

    .inputBox input {
        width: 100%;
        padding: 0.7rem;
        background: whitesmoke;
        outline: none;
        border: 1px solid black;
        font-size: 1em;
        border-radius: 0.6rem;
    }

    .inputBox span {
        position: absolute;
        left: 0;
        padding: 10px;
        pointer-events: none;
        font-size: 0.9rem;
        color: black;
        text-transform: uppercase;
        transition: 0.5s;
        position: relative;
        bottom: 2rem;
        z-index: 1;
    }

    .inputBox input:valid~span,
    .inputBox input:focus~span {
        color: white;
        background-color: #8573DB;
        transform: translateX(10px) translateY(-7px);
        font-size: 0.85em;
        padding: 0 10px;
        position: relative;
        bottom: 3.3rem;
        left: 1rem;
        border-radius: 0.3rem;
    }

    .buttonlogin {
        background-color: #8573DB;
        color: white;
        font-weight: bold;
        height: 2.2rem;
        width: 15rem;
        border-radius: 10px;
        border-style: none;
        position: relative;
        left: 0.3rem;
        top: 0.5rem;
    }

    .card h1 {
        position: relative;
        left: 1rem;
    }    
    .card h5 {
        position: relative;
        top: 2rem;
        left: 1rem;
    }    

    .card a {
        color: #8573DB;
    }


    /* Fim Login */    


    /* Início Fale Conosco */   
    
    .tituloFaleConosco {
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
        margin-top: 2vh;    
        text-shadow: 3px 2px 3px rgb(155, 155, 155);
    }
    
    .subtituloFaleConosco {
        font-size: 1.1rem;
        font-weight: bold;
        text-align: center;
        margin-top: 3vh;
        padding-inline: 3rem;
    }
    
    .entrada {
        height: 45vh;
        width: 10vw;   
    }
    
    .linha1 {
        width: 30vw;
        height: 8vh;
        display: flex;        
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        margin-top: 5vh;
        position: relative;
        left: 2.5rem;
    }
    .linha1 .dados {
        width: 80vw;
        height: 2.3rem;
        background-color: #CDC6ED;
        border-radius: 30px;
        border: 2px solid #CDC6ED;
        position: relative;
        right: 1rem;
    }
    
    .placeholder {
        width: 33vh;
        position: relative;
        right: 1.6rem;
    }  
    
    .linha2 {
        width: 0vw;
        height: 8vh;             
        position: relative;        
        top: 2rem;
        left: 23.5rem;
    } 
     .linha2 .placeholder {
        width: 33vh;
        position: relative;
        right: 18.5rem;
    }
    .linha2 .dados {
        width: 80vw;
        height: 2.3rem;
        background-color: #CDC6ED;
        border-radius: 30px;
        border: 2px solid #CDC6ED;
        position: relative;
        right: 18.5rem;
    }
    
    .linha3 {
        width: 40%;
        height: 35vh;
        display: flex;    
        margin-top: 3vh;
        align-items: center;
        flex-direction: column;
        position: relative;            
        top: 3rem;
        left: 9.7rem;
    }
    .linha3 .placeholder {
        width: 33vh;
        position: relative;
        right: 4.5rem;
        margin-bottom: 0.5rem;
    }
    .mensagem {
        width: 80vw;
        height: 20vh;       
        border-radius: 1rem;        
        position: relative;
        right: 4.2rem;
    }
    .linha5 {
        width: 40vw;
        height: 5vh;
        display: flex;         
        position: relative;
        left: 1rem;
        top: 3rem;
    }
    
    .botao {
        width: 100%;
        height: 2.5rem;
        background-color: rgba(152, 122, 235, 0.945);
        border: rgba(152, 122, 235, 0.945) 2px solid;
        border-radius: 40px;
        color: white;
        font-size: 17px;
        position: relative;        
        left: 0rem;
    }    
    
    .contato {
        width: 50vw;
        height: 55vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: relative;        
        top: 9rem;    
    }
    
    .fundo2 {
        width: 80vw;
        height: 75vh;
        background-color: #CDC6ED;
        border-radius: 1rem;
        border-color: rgba(152, 122, 235, 0.945);
        display: flex;
        flex-direction: column;
        align-items: start;
        position: relative;
        left: 1rem;
    }        
    
    .infoTelefone {
       position: relative;
       left: 3.5rem;
    }
    
    .infoEmail {
       position: relative;
       top: 9rem;
       right: 9.5rem;
    }
    
    .infoLocalicao {
       position: relative;
       top: 18rem;
       right: 22.5rem;
    }
    
    .t {
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        width: 15vh;
        margin-top: 0.5vh;
    }
    
    .d {
        margin-top: 0.5vh;
        text-align: center;
        font-size: 10px;
        width: 25vh;
    }   

    /* Fim Fale Conosco */
}