@media  screen and (max-width: 800px) {

    /* Início Central */
    
        .header {
            width: 85%;
            background: transparent;
            padding-inline: 16px;
        }
    
        .logo {
            width: 50vw;
            height: fit-content;
            margin-left: 1rem;
            padding-block: 1rem;
        }
    /* Fim Central */
    
    


    
        /* Início Home */
    
    
        
        /* .nav-list {
            position: fixed;
        
            width: 100vw;
            
            background: #8473db;
            clip-path: circle(30px at 90% -15%);
            transition: 1s ease-out;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            gap: 0;
            pointer-events: none;
            z-index: 3;
            border-radius: 0 0 2rem 2rem;
        } 
    
        aside {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-evenly;
            width: 30%;
            height: 50vh;
            padding: 1% 8%;
        }  
    
    
        .btn-func {
            margin-top: 10vh;
            display: flex;
            width: 75%;
            align-items: center;
            justify-content: space-evenly;
        
        }
    
        .btn-baixo{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            display: none;
        }
    
        
       
    
/*     
    
        .sobre-nos {
            margin-top: 20vh;
            display: flex;
            background-color: #fff;
           
        }
        
        .sobre-nos-button {
            background-color: #EDEAF9;
            border-radius: 5px;
            color: #6953D3;
            cursor: pointer;
            font-weight: 500;
            line-height: 24px;
            font-size: 20px;
            padding: 8px 10px;
            width: fit-content;
            border: none;
            top: 20vh;
        } */
    
      .img_1{
        display: none;
      }
    

    .fundoRoxo {
        width: 104%;
        height: 10vh;
        background-color: #6953D3;
        background-size: cover;
    }
     .center-vertical{
       
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin-top: 10vh;
      } 
    
       
     .Nossos-DiferenciaisA {
        background: url(../assets/ONDASSS.png);
         background-size: cover;
        margin-left: auto;
        padding: 15vh;
        padding-top: 10vh;
       display: none;
    }

     .escolha{
position: relative;
top: 15vh;
left: 2vh;
     }


 
.Planobasico {
    max-width: 40vh;
    max-height: 54vh;
    background-color: #6853d367;
    border-radius: 5vh;
    border: solid 1vh #6953D3;
  position: relative;
  left: 1vh;
   
}

.TxtIndidualPlano{
    display:  flex;
    width: 100%;
    height: 30px; 
    position: relative;
    bottom: 4vh;
font-size: 2vh ;
}

.TxtIndidualPlanoBasico{
    display:  flex;
    width: 100%;
    height: 4vh;
    margin-left: 2.25vh;
    align-items: center;
    position: relative;
bottom: 3vh;
font-size: 2vh ;
}


.TxtIndidualPlanoX {
    display:  flex;
    width: 100%;
    height: 30px;
    margin-left: 5vh;
    position: relative;
    bottom: 3vh;
}
.TxtIndidualPlano > h4 {
  
}


.planoPremium {
    max-width: 45vh;
    max-height: 70vh;
    background-color: #961ff9;
    border-radius: 5vh;
 position: relative;
 top: 10vh;
left: 0vh;



   
 
}

     
    .imagem-nossos-servicos{
        display: none;
    }
    .nossa-equipe h2{
        width: 100vh;
        margin-left:10vh;
        text-align: center;
        margin-top: 5vh;
        font-size: 5vh;
        margin-bottom: 7vh;
    }
    
    
        /* Início Banner */

    
 
        .banner {
            display: flex;
            height: 80vh;
           width: 100%;
        }
    
        .banner-button {
            position: relative;
            bottom: 3vh;
        }
    
        aside {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-evenly;
            padding: 0 0 0 3rem;
            width: 70vw;
            height: 80vh;
            position: relative;
            bottom: 5vh;
        }
    
        aside h1 {
            font-size: 5vh;
            padding: 0rem;
            position: relative;
            bottom: 5vh;
        }
    
        aside h4 {
            position: relative;
            top: 0rem;
            padding: 0;
        }
    
        article {
            width: 50vw;
            height: fit-content;
            position: relative;
            top: 50vh;
            right: 45vw;
        }
    
        article img {
            width: 70vw;
            position: relative;
            right: 20vw;
        }
    
        .btn-func {
            display: flex;
            width: 100vw;
            align-items: center;
            justify-content: space-around;
            gap: 0.5rem;
            position: relative;
            top: 30vh;
            right: 13vw;
        }
    
        aside .nav-button {
            padding: 0.1rem;
            width: 18rem;
            height: 6rem;
            position: relative;
            
            top: 4vh;
            padding-block: 1rem;
        }
    
        .btn-player {
            position: relative;
            bottom: 0.3rem;
            right: 0.2rem;
            padding-block: 1rem;
            display: none;
        }
    
        /* Fim Banner */
    
         /* Início Nossos Diferenciais */

         
        .seguranca,
        .foco,
        .cliente,
        .tempo,
        .projeto {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50vw;
            margin-left: 0;
            position: relative;
            left: 1.2rem;
        }
    
        .seguranca img,
        .foco img,
        .tempo img,
        .cliente img,
        .projeto img {
            height: fit-content;
            width: 25vw;
            margin-bottom: 17px;
        }
        .seguranca p,
        .foco p,
        .tempo p,
        .cliente p,
        .projeto p {
            font-size: 1rem;
            font-family: 'Inter';
            color: #444444;
            font-weight: bold;
        }
    
        /* Fim Nossos Diferenciais */
    
     
        /* Início Sobre Nós */


        
        .sobre-nos {
            display: flex;
            background-color: #fff;
            height: 135vh;
            width: 100vw;
        }
    
        .imagem-sobre-nos {
            background: #fff;
            width: 50vw;
            height: 10vh;
         
        }
    
        .imagem-sobre-nos img {
            display: block;
            background: #fff;
            width: 80vw;
            height: fit-content;
            position: relative;
            top: 150vh;
            left: 3.5rem;
        }
    
        .texto-sobre-nos {
            display: flex;
            flex-direction: column;
            width: 100vw;
            height: 100vh;
            align-items: center;
            justify-content: space-evenly;
            position: relative;
            top: 65vh;
            right: 20vw;
          
            
        }
    
        .texto-sobre-nos span {
            font-size: 4vh;
            position: relative;
            bottom: 7rem;
            right: 1rem;
           
        }
    
        .texto-sobre-nos p {
            font-size: 20px;
            color: #4444449a;
            text-align: justify;
            width: 130%;
            position: relative;
            bottom: 6rem;
            right: 1rem;
        }
    
        .sobre-nos-button {
            margin-top: 10vh;
            border-radius: 1rem;
            font-weight: 500;
            line-height: 24px;
            font-size: 20px;
            padding-block: 16px;
            width: fit-content;
            border: none;
            position: relative;
            bottom: 15vh;
            right: 2vh;
        }
    
    
        .item {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
            position: relative;
        }
    
        .item img {
            width: 7vh;
            height: 7vh;
            position: relative;
            bottom: 5.7rem;
            right: 2.8rem;
        }
    
        .item p {
            font-size: 18px;
            font-family: 'Inter';
            color: #444444;
            font-weight: bold;
        }
    
        /* Fim Sobre Nós  */
    
    
        /* Início Nossos Serviços */



        /* .como-fazemos {
            display: flex;
            width: 100%;
            height: 100vh;
            background-color: transparent;
            position: relative;
            bottom: 25rem;
        }
    
        .article1 h2 {
            font-size: 4vh;
            font-weight: bold;
            width: 80%;
            position: relative;
            left: 0.6rem;
            bottom: 2rem;
        }
    
        .article1 p {
            font-size: 20px;
            color: #444444;
            text-align: justify;
            width: 90vw;
            position: relative;
            right: 0.7rem;
            bottom: 2rem;
        }
    
        .como-vera {
            background-color: rgba(168, 128, 255, 0.5);
            width: 80%;
            border-radius: 2.5rem;
            padding: 0rem 1rem 0rem 2rem;
            overflow: hidden;
            text-align: justify;
            font-size: 20px;
            position: relative;
            right: 0.5rem;
            bottom: 2.5rem;
        }
    
    
        .como-vera h2 {
            font-size: 2rem;
            position: relative;
            bottom: 50vh;
        }
    
        .como-vera p {
            font-size: 20px;
            color: white;
            font-family: 'Inter';
            line-height: 2.0;
            text-align: justify;
            width: 100%;
        }
    
        .article1 {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
            width: 100vw;
            height: 100vh;
            position: relative;
            left: 2rem;
        }
    
        .aside1 {
            display: flex;
            align-items: center;
            width: 50%;
            height: 10vh;
            padding: 0;
            position: relative;
            top: 150vh;
            right: 65vw;
        }
    
        .aside1 img {
            width: 85vw;
            height: fit-content;
        } */
    
        /* FIM SOBRE NÓS */
    
         .nossos-servicos {
            background: transparent;
            position: relative;
            margin-left: 18vh;
            top: 30vh;
        } 
    
    
         .texto-nossos-servicos {
            display: flex;
            flex-direction: column;
            width: 100vw;
            height: 50vh;
            align-items: start;
            justify-content: space-evenly;
            position: relative;
            bottom: 15vh;
          
        } 
    
         .texto-nossos-servicos h2 {
            font-size: 4vh;
            font-weight: bold;
            text-align: center;
            margin-bottom: 0;
            position: relative;
            bottom: 15vh;
            left: 3vh;
           
        }
    
        .texto-nossos-servicos p {
            margin-top: 0;
            text-align: justify;
            width: 65vw;
            position: relative;
            bottom: 75vh;
        } 
    
        .texto-nossos-servicos ul li {
            text-align: justify;
            position: relative;
         margin-top: 2rem;
        } 
    
        .nossos-servicos-button {
            border-radius: 1rem;
            height: 7vh;
            width: 45vw;
            padding-block: 1rem;
            position: relative;
            top: 2rem;
        } 
    
        .mobile-btn {
            position: relative;
            bottom: 43vh;
            width: 35vw;
        } 
    
        /* Fim Nossos Serviços */
    
    
        /* Início Redes */
    
        /* .redes {
            width: 100vw;
            height: 100vh;
            position: relative;
            top: 75vh;
        }
    
        .redes h2 {
            width: 83%;
            font-size: 3vh;
            position: relative;
            left: 1.3rem;
        }
    
        .sociais {
            width: 40%;
            flex-direction: column;
        } */
    
        /* Fim Redes  */
    
    
        /* Início Nossa Equipe */
    
        .nossa-equipe {
            display: flex;
            flex-direction: column;
            height: 80vh;
            background: url(../assets/contact_globe\ 1.png);
            background-repeat: no-repeat;
            justify-content: space-evenly;
            position: relative;
            bottom: 5vh;
        }
    .blocoBannerEquipe{
        width: 92%;
        position: relative;
        left: 1vh;
    }

    .imgBannerEquipe {
        height: 13vh;
        width: 13vh;
        border-radius: 100%;
    }
        .nossa-equipe h2 {
            position: relative;
            width: 60vw;
            font-size: 4vh;
        }
    
        .rostos {
            position: relative;
            flex-direction: column;
            padding: 0;
            width: 90%;
            gap: 2rem;
        }
    
        .rostos1 {
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            width: 90%;
            position: relative;
            right: 9rem;
            gap: 2rem;
            bottom: 5rem;
        }
    
        .rostos img {
            width: 45vw;
            height: fit-content;
            position: relative;        
            left: 8rem;
        }
    
        .rostos1 img {
            width: 45vw;
            height: fit-content;
            position: relative;        
            z-index: 6;
        }
    
        .botoes {
        margin-top: 5vh;
        }
        /* FOOTER */
 
        .rodape{
            width: 104%;
            height: 60vh;
            background-color: #000F53;
            display: flex;
            justify-content: center;
            justify-content: space-evenly;
            color: white;
            align-items: center;
            position: relative;
            margin-top: 10vh;
          }
          
          .rodape_contato{
            width: 50vh;
            height: 50vh;
            display: flex;
            flex-direction: column;
            justify-content: start;
            color: white;
            font-size: 1vh;
            position: relative;
            bottom: 4vh;
            left: 3vh;
          }
          
          .rodape_contato h1{
            font-size: 3vh;
            
          }
          .rodape_contato h3{
          margin-top: 2vh;
            font-size: 2vh;
            color:  #ffffffaf;
          }
          
          .rodape_contato h4{
           
            font-size: 2vh;
          }
          
          .rodape_links{
         
            width: 50vh;
            height: 50vh;
            display: flex;
            flex-direction: column;
            justify-content: start;
            font-size: 2vh;
            position: relative;
           left: 10vh;
           bottom: 3vh;
           
            }
          
          .rodape_links h3{
            margin-top: 3vh;
          
          }
          
          .rodape_links a {
            text-decoration: none;
            color:  #ffffffaf;
          }
          
            .rodape_redes{
                margin-top: 3vh;
                width: 50vh;
                height: 50vh;
                margin-top: 3vh;
                font-size: 2vh;
                
                
                
            }
        
            .rodape_redes h2{
              position: relative;
              right: 32vh;
              top: 32vh;
         
        
            }
          
            .rodape_redes h3{
                font-size: 2vh;
                margin-top: 3vh;
                position: relative;
                right: 32vh;
                color:  #ffffffaf;
                top: 32vh;
                
          
            }
           
            .rodape_direitos{
                background-color: #000F53;
                align-items: center;
                display: flex;
                justify-content: center;
                color: white;
                font-size: 2vh;
                position: relative;
              width: 104%;
            }
        
             
          .ondasFundo img {
            background-size: cover;
            width: 100%;
            height: 15rem;
            position: relative;
            top: 14rem;
            display: none;
        }  
     

    
        /* Fim Home  */
    }