/* pagina mural */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=VT323&display=swap');

* {
  font-family: Poppins, sans-serif;
}
/*SUPORTE*/

.tituloServidor {
  margin-left: 80px;
  color: #000F53;
  font-family: Poppins, sans-serif;

}

.blocoAdicao {
  margin-left: 80px;
  width: 80%;
  height: fit-content;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 50px;
}

.subtituloServidor {
  color: #FF847F;
  font-size: 20px;
  font-weight: 600;
  padding: 30px;
}

.camposServidor {
  padding: 20px 40px;
  color: #000F53;
font-size: 18px;
}

.inputcheckbox {
  width: 40px;
  margin: 0 0 0 30px ;
}



.inputServidor {
  margin: 10px 30px;
  background-color: rgba(0, 15, 83, 0.12);
  border-radius: 10px;
  border: none;
  width: 90%;
  text-align: start;
}

.linhaServidor {
  width: 90%;
display: flex;
justify-content: space-around;
align-items: center;
}

.camposPotencia {
  text-align: start;
  width: 440px;
}

.selectServidor {
  margin: 10px 30px;
  background-color: rgba(0, 15, 83, 0.12);
  border-radius: 10px;
  border: none;
  width: 90%;
  height: 36px;
  text-align: center;
  color: #000F53;
  
}

.camposData {
  width: 440px;
  margin-top: 30px;
  margin-bottom: 30px;
  
}

#divBotoesServidor {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.botaoServidor {
  width: 40%;
border-radius: 10px;
border: none;
color: white;
font-weight: 600;
font-size: 20px;
height: 40px;
}
.header-left{
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 10px;
  border: none;
  width: 150px;
}
.logo img{
  width: 130px;
  height: 35px;
}

.hello h3, span{
  color: #000F53;
  margin-right: 0px;
}
.TipoAcesso{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(105, 83, 211, 0.1);
  width: 128px;
  height: 38px;
  border-radius: 10px;
}
.TipoAcesso span{
  display: flex;
  /* margin-top: -30px; */
}
.opcao{
  font-size: 15px;
  /* margin-top: -30px; */
}
.opcoes{
  font-size: 12px;
  /* margin-top: -30px; */
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s;
}

.opcoes:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.opcoes a span {
  margin-left: 5px;
}

.opcoes a img {
  width: 16px;
  height: 16px;
  /* margin-top: -30px; */
}

.linha{
  border-bottom: solid 1px #000F53;
  width: 140px;
}

.localizacao {
  background-color: rgba(0, 15, 83, 0.19);
  border-radius: 10px;
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 10px;
  /* margin-top: -30px; */
}